.button{
    background-color: rgb(0, 229, 255);
    border: 0;
    color: beige;
    font-size: 1em;
    padding: 8px 12px;
}
.button1{
    background-color: rgb(0, 229, 255);
    border: 0;
    color: beige;
    font-size: 1em;
    padding: 8px 12px;
}


.gambar{
    min-width: 600px;
    max-height: 400px;
}

.jumbotron {
    background: url('../img/6.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

.card-img-top{
    background: url('../img/bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
}